@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat:wght@500;800&family=PT+Serif:ital,wght@0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500&family=Roboto:wght@400;500;900&display=swap");

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

:root,
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  /* background: rgb(51, 51, 51);
  background: -moz-linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(52, 152, 219, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#3498db",GradientType=1); */
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: 60em) {
    font-size: 50%;
  }

  /* Phone */
  @media only screen and (max-width: 37.5em) {
    font-size: 48%;
  }

  /* Small Phone */
  @media only screen and (max-width: 30em) {
    font-size: 34%;
  }
}

.app {
  /* contribute to header height */
  padding-top: 64px;
}

.background-image {
  /* background: "#1C3D53", url("assets/imgs/background6.svg"); */
  background-size: cover;
  background-position: 35%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  /* backdrop-filter: ; */
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom Scrollbar: For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #999;

  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes spotlight {
  0%,
  20% {
    opacity: 1;
    letter-spacing: 2px;
  }

  80%,
  100% {
    opacity: 0;
    letter-spacing: 25px;
  }
}
